@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🌐 Global HTML and Body Setup */
html {
  scroll-behavior: smooth;
}

body {
  @apply transition-colors duration-300 ease-in-out;
}

body {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: var(--tt-theme-text);
  background-color: var(--tt-bg-color);
  overflow: hidden;
  --tt-toolbar-height: 44px;
  --tt-theme-text: var(--tt-gray-light-900);
}

.dark body {
  --tt-theme-text: var(--tt-gray-dark-900);
}

/* 📝 Editor Styling */
.tiptap.ProseMirror {
  font-family: 'DM Sans', sans-serif;
}

/* 📜 Scrollbar Styling */
.content-wrapper {
  height: calc(100% - var(--tt-toolbar-height));
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--tt-scrollbar-color) transparent;
}

.content-wrapper::-webkit-scrollbar {
  width: 0.5rem;
}

.content-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.content-wrapper::-webkit-scrollbar-thumb {
  background-color: var(--tt-scrollbar-color);
  border-radius: 4px;
}

/* 📱 Responsive Padding */
.simple-editor-content {
  max-width: 640px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.simple-editor-content .tiptap.ProseMirror {
  padding: 3rem 3rem;
}

@media screen and (max-width: 480px) {
  .simple-editor-content .tiptap.ProseMirror {
    padding: 1rem 1.5rem;
  }
}