@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  transition: background-color 0.4s ease, color 0.4s ease;
}

* {
  font-family: "IBM Plex Sans Thai", sans-serif;
}

/* Additional Custom Styles for Consistency */
.content {
  @apply prose prose-lg prose-gray max-w-none;
}

/* Default styles for headings */
.content h1 {
  @apply text-3xl font-bold text-gray-900;
}

.content h2 {
  @apply text-2xl font-semibold text-gray-800;
}

.content h2::before {
  content: '#';
  margin-right: 8px;
  background: linear-gradient(to right, #7e22ce, #ec4899, #fb923c);
  /* ไล่สี */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  /* ทำให้ข้อความเป็นโปร่งใสเพื่อแสดงไล่สี */
}

.content h3 {
  @apply text-xl font-medium text-gray-700;
}

.content h4 {
  @apply text-lg font-normal text-gray-600;
}

.content img {
  border-radius: 8px
}

/* Dark mode styles for headings */
.dark .content h1 {
  @apply text-3xl font-bold text-gray-300;
}

.dark .content h2 {
  @apply text-2xl font-semibold text-gray-200;
}

.dark .content h3 {
  @apply text-xl font-medium text-gray-200;
}

.dark .content h4 {
  @apply text-lg font-normal text-gray-100;
}

.dark .content h5 {
  @apply text-lg font-normal text-gray-100;
}

.content blockquote {
  @apply border-l-4 pl-4 italic text-gray-800;
}

/* Dark mode styles */
.dark .content blockquote {
  @apply border-l-4 pl-4 italic text-gray-300;
}

.content code {
  @apply px-1 py-0.5 rounded;
}

.content pre {
  @apply bg-gray-800 text-gray-200 p-4 rounded-lg overflow-x-auto relative;
}

/* Dark mode styles */
.dark .content pre {
  @apply bg-gray-900 text-gray-400;
}

.dark .content * {
  @apply text-white;
}

.dark .content ol li * {
  @apply text-white;
}

.content .copy-btn {
  @apply text-white px-2 py-1 rounded absolute top-2 right-2 opacity-70 hover:opacity-100 transition-opacity;
}

/* Dark mode styles */
.dark .content .copy-btn {
  @apply text-gray-100;
}

ul li::before {
  content: '#';
  margin-right: 8px;
  background: linear-gradient(to right, #7e22ce, #ec4899, #fb923c);
  /* ไล่สี */
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  /* ทำให้ข้อความเป็นโปร่งใสเพื่อแสดงไล่สี */
}

/* Default styles */
.toc-link {
  text-decoration: none;
}

.toc-link:hover {
  text-decoration: underline;
}

/* Dark mode styles */
.dark .toc-link {
  color: #93c5fd;
  /* Customize as needed */
}

.dark .toc-link:hover {
  text-decoration: underline;
}

.copy-btn {
  @apply bg-white text-white p-2 rounded-md absolute top-2 right-2 opacity-70 hover:opacity-100 transition-opacity;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

.copy-btn svg {
  width: 1.25rem;
  /* adjust size as needed */
  height: 1.25rem;
}

.scroller {
  overflow-y: auto; /* แสดง scrollbar เฉพาะเมื่อเนื้อหามีความยาวเกินขนาดของ div */
}

/* Scrollbar for WebKit browsers (Chrome, Safari, Edge) */
.scroller::-webkit-scrollbar {
  width: 6px; /* ความกว้างของ scrollbar */
}

.scroller::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #7e22ce, #ec4899, #fb923c); /* ไล่สีสำหรับ thumb */
  border-radius: 10px; /* ทำให้ scrollbar thumb โค้งมน */
}

.scroller::-webkit-scrollbar-track {
  background: #f3f4f6; /* สีพื้นฐานของ scrollbar track */
}

/* เมื่อ hover ให้แสดง scrollbar thumb ที่มีสีไล่ระดับ */
.scroller:hover::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #9b5de5, #f15bb5, #fcbf49); /* ไล่สีเมื่อ hover */
}

.scroller:hover::-webkit-scrollbar-track {
  background: #e5e7eb; /* สีของ scrollbar track เมื่อ hover */
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: 4;
  background: radial-gradient(circle closest-side, #ff7e5f 90%, #ff7e5f00) 0/calc(100%/3) 100% space, /* Gradient 1 */
              radial-gradient(circle closest-side, #feb47b 90%, #feb47b00) 33.33%/calc(100%/3) 100% space, /* Gradient 2 */
              radial-gradient(circle closest-side, #86a8e7 90%, #86a8e700) 66.66%/calc(100%/3) 100% space; /* Gradient 3 */
  clip-path: inset(0 100% 0 0);
  animation: l1 1s steps(4) infinite;
}

@keyframes l1 {
  to {
    clip-path: inset(0 -34% 0 0);
  }
}
